/* Add to your global CSS or Tailwind config */
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right bottom, #4665c9, #577EFD);
  border-radius: 4px;
}



