.sp-about-section{
  width:100%;
  background:#000;
  display:flex;
  justify-content:center;
  padding:100px 0;
  font-family:Inter;
}

.sp-about-container{
  width:95%;
  display:flex;
  justify-content:space-between;
  gap:20px;
}

.sp-about-left{
  width:50%;
}

.sp-about-title{
  font-weight:500;
  font-size:55px;
  line-height:100%;
  color:white;
}

.sp-about-title span{
  color:#FF6B35;
}

.sp-about-desc{
  margin-top:60px;
  font-size:18px;
  color:#FFFFFF;
  font-family: Inter,sans-serif;
  font-weight: 400;
}

.sp-industry-list{
  margin-top:30px;
  display:flex;
  flex-direction:column;
  gap:10px;
}

.sp-industry-item{
  position: relative;
  padding:16px 20px;
  border-radius:15px;
  cursor:pointer;
  font-size:18px;
  color:white;
  background: #EC70290D;
  transition:0.3s;
  font-weight:300;
  border:0.44px solid #2B2B2B;
  overflow:hidden;
  width: 90%;
  
}

/* ACTIVE CARD */

.sp-industry-item.active{
  border:1px solid #FF6B351C;
background:transparent;
  box-shadow:
  0px 7.04px 12.33px #0000000D,
  -0.44px 0.44px 5.72px #FF6B3540 inset;
}

/* LEFT ORANGE GLOW */

.sp-industry-item::before{
  content:"";
  position:absolute;

  left:-80px;
  top:-40px;

  width:220px;
  height:160px;

  background: radial-gradient(
    circle at left,
    rgba(255,68,0,0.55) 0%,
    rgba(255,68,0,0.35) 30%,
    rgba(255,68,0,0.15) 55%,
    transparent 75%
  );

  filter: blur(22px);

  transform: translateX(-120%);
  transition: transform 0.5s ease;

  z-index:0;
}
.sp-industry-item.active::before{
  transform: translateX(0);
}
.sp-industry-item span,
.sp-industry-item{
  position:relative;
  z-index:2;
}

.sp-vision-mission{
  margin-top:50px;
  display:flex;
  justify-content:space-between;
  gap:40px;
}

.sp-about-right{
  width:50%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.sp-about-right-desc{
  color:#cfcfcf;
  font-size:16px;
  text-align:right;
  max-width:540px;
  margin-bottom:40px;
  align-self:flex-end;
  padding-right: 40px;
}

.sp-about-images{
  position:relative;
  width:580px;
  height:340px;
}

.sp-main-img{
  position:absolute;
  left:60%;
  top:50%;
  transform:translate(-50%,-50%);
  z-index:10;

  border:1px solid;
  border-image-source:linear-gradient(180deg,#FF6B35 0%,#000000 100%);
  border-image-slice:1;

  box-shadow:1px 1px 10.9px 0px #000000;
}

.sp-main-img img{
  width:290px;
  height:330px;
  border-radius:14px;
}

.sp-left-img-2{
  position:absolute;
  left:120px;
  top:50%;
  transform:translateY(-50%);
  z-index:8;
}

.sp-left-img-2 img{
  width:200px;
  height:300px;
  border-radius:14px;
  opacity:0.85;
}

.sp-left-img-1{
  position:absolute;
  left:190px;
  top:50%;
  transform:translateY(-50%);
  z-index:9;
}

.sp-left-img-1 img{
  width:200px;
  height:300px;
  border-radius:14px;
  opacity:0.65;
}

.sp-right-img{
  position:absolute;
  right:30px;
  top:50%;
  transform:translateY(-50%);
  z-index:2;
}

.sp-right-img img{
  width:200px;
  height:300px;
  border-radius:14px;
  opacity:0.85;
}