.footer {
  width: 100%;
  margin: auto;
 background:#000000 ;
  color: white;
  font-family: Inter;
}

/* CENTER CONTENT */
.footer-inner{

  background: #0b0502;
  margin:auto;
  padding:60px 5% 30px 5%;

  border: 1px solid;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 107, 53, 0.36) 0%,
    #000000 100%
  );
  border-image-slice: 1;
}

/* MAIN LAYOUT */
.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  flex-wrap: wrap;
}

/* LEFT */
.footer-left {
  max-width: 350px;
}

.footer-logo {
  width: 320px;
  margin-bottom: 20px;
}

.footer-desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  color: #B9B3B3;
  margin-bottom: 25px;
}

/* SOCIAL */

.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 50px;
}

.footer-social a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #4B4B4B;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.3s;
}

.footer-social a:hover {
  background: #FF4400;
}

/* RIGHT */

.footer-right {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}

.footer-col h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
  letter-spacing: 0.1px;
}

.footer-col a {
  display: block;
  font-size: 14px;
  margin-bottom: 16px;
  color: #B9B3B3;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0.2px;
}

.footer-col a:hover {
  color: #FF4400;
}

/* CONTACT INPUT */

.footer-input {
  display: flex;
  margin-top: 10px;
}

.footer-input input {
  padding: 12px;
  border: none;
  outline: none;
  width:210px;
  background: #e5e5e5;
  border-radius: 6px 0 0 6px;
  color: #8A8A8A;
}

.footer-input button {
  background: #FF4400;
  border: none;
  padding: 12px 20px;
  color: white;
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}

/* BOTTOM */

.footer-bottom {
  margin-top: 15px;
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #8A8A8A;
 
}

.footer-bottom p {
  font-size: 14px;
  color: #FAFAFA;
  font-weight: 300;
  padding: 0 20px;
;
  letter-spacing: 1px;
}

.footer-policy {
  display: flex;
  gap: 10px;
}

.footer-policy a {
  font-size: 14px;
  color: #FAFAFA;
  text-decoration: none;
  padding: 0 20px;
  font-weight: 300;
  letter-spacing: 1px;
}

.footer-policy a:hover {
  color: #FF4400;
}

@media(max-width:1225px){
  .footer-inner{
  padding:30px 3% 30px 3%;
}
.footer-container {
    gap: 10px;
}
.footer-right {
    gap: 15px;
}
}

@media (max-width: 1023px) {
 .footer-inner {
   
    padding: 30px 5% 20px 5%;
 }
 .footer-left {
    max-width: 100%;
}
.footer-logo {
    
    margin-bottom: 2px;
}
.footer-container {
    gap: 20px;
}
.footer-social {
   
    margin-top: 30px;
}

  }

@media (max-width: 769px) {
.footer-right {
    gap: 34px;
}
.footer-bottom{
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-top: 20px;
}

.footer-bottom p{
  padding: 0;
 
}

.footer-policy{
  padding: 0;
}
.footer-policy a
 {
    font-size: 10px;}

.footer-input input {
  padding: 12px;
 
  width:190px;
}
.footer-col h4 {

    margin-bottom: 10px;
}
.footer-bottom p {
    font-size: 10px;
}

.footer-logo {
  width: 225px;

}
}


