@media (max-width: 1490px) {
  .big-text {
    font-size: 45px !important;
     line-height: 1.2 !important;
  }
}
@media (max-width: 480px) {
  .big-text {
    font-size: 30px !important;
     line-height: 1.2 !important;
     
  }
  .desc-text{
    font-size: 14px;
    margin-top: 10px !important;
  }
}